@*
	This template changes the way blog post summaries 
	are rendered on the homepage (Requires url alternates feature)
*@
@using Orchard.Core.Routable.Models
@using Orchard.ContentManagement.ViewModels
@using Orchard.ContentManagement
@using Orchard.Core.Common.Models

@{
	ContentItem item = Model.ContentItem;
	RoutePart rpItem = item.As<RoutePart>();
	BodyPart bpItem = item.As<BodyPart>();
	
	string linkUrl = Url.ItemDisplayUrl(item);
}

<h4><a href="@linkUrl">@rpItem.Title</a></h4>
<div class="publishinfo">@Model.ContentItem.CommonPart.PublishedUtc by @Model.ContentItem.CommonPart.Owner.UserName</div>
<div>
	<p>@Html.Raw(Html.Excerpt(bpItem.Text, 200).ToString())</p>
</div>
