@model SampleSiteModule.Models.TwitterWidgetPart

<fieldset>
	<legend>Latest Twitter</legend>
	<div class="editor-label">@T("Twitter username"):</div>
	<div class="editor-field">
		@Html.TextBoxFor(m => m.TwitterUserName)
		@Html.ValidationMessageFor(m => m.TwitterUserName)
	</div>
	<div class="editor-label">@T("Number of tweets"):</div>
	<div class="editor-field">
		@Html.TextBoxFor(m => m.MaxPosts)
		@Html.ValidationMessageFor(m => m.MaxPosts)
	</div>
	<div class="editor-label">@T("Cache (minutes)"):</div>
	<div class="editor-field">
		@Html.TextBoxFor(m => m.CacheMinutes)
		@Html.ValidationMessageFor(m => m.CacheMinutes)
	</div>
</fieldset>
